<!-- <mat-form-field class="example-chip-list">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter fruits">
        @for (chipItem of chipItems; track chipItem) {
        <mat-chip-row
            (removed)="remove(chipItem)"
            [editable]="true"
            (edited)="edit(chipItem, $event)"
            [aria-description]="'press enter to edit ' + chipItem.name"
        >
            {{
                chipItem
            }}
            <button matChipRemove [attr.aria-label]="'remove ' + chipItem.name">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        }
        <input
            placeholder="New fruit..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
            [matAutocomplete]="auto"
            [formControl]="displayFormCtl"
            #searchInput
        />
        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onResultSelection($event)"
        >
            @for (result of searchResults; track result){
            <mat-option [value]="result" [disabled]="result.disabled">
                {{
                    resultDisplayPropertyPath
                        ? getProp(result, resultDisplayPropertyPath)
                        : result
                }}
            </mat-option>
            }
        </mat-autocomplete>
    </mat-chip-grid>
</mat-form-field> -->
<div class="main-container">
    <app-typeahead-search
        [valueFormCtl]="valueFormCtl"
        [displayFormCtl]="displayFormCtl"
        [resultDisplayPropertyPath]="resultDisplayPropertyPath"
        [resultValuePropertyPath]="resultValuePropertyPath"
    ></app-typeahead-search>
    <!-- <mat-form-field>
        <input
            matInput
            placeholder="New fruit..."
            [matAutocomplete]="auto"
            [formControl]="displayFormCtl"
            #searchInput
        />
        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onResultSelection($event)"
        >
            @for (result of searchResults; track result){
            <mat-option
                [value]="result"
                [disabled]="chipItems?.includes(result)"
            >
                {{
                    resultDisplayPropertyPath
                        ? getProp(result, resultDisplayPropertyPath)
                        : result
                }}
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field> -->
    <app-chip-list [chipItems]="chipItems"></app-chip-list>
</div>
