.workout-card {
    margin-bottom: 8px;

    .tag-subtitle {
        display: inline-flex;

        .tag-icon {
            margin-right: 5px
        }
    }

    .workout-summary {
        font-style: italic
    }
}

.workout-card:hover {
    cursor: pointer
}

.workout-list-toolbar {
    display: flex;
    justify-content: space-between;

    padding: 5px 0;
}

.workout-list-footer {
    display: flex;
    flex-direction: row-reverse;
}


