<div>
    <div class="workout-list-toolbar">
        <app-date-nav 
            (calendarDatePicked)="onCalendarDatePicked($event)"
            (leftArrowClicked)="changeDate(-1)"
            (rightArrowClicked)="changeDate(1)"
            [dateString]="$selectedMillis() | millisToLocalDateString : navDateFormat"
        />
    </div>
    @for (workout of $selectedWorkouts() | workoutSort; track $index) {
    <app-workout-list-item
        [$workout]="workout"
        (editWorkout)="onEditWorkout($event)"
        (deleteWorkout)="onDeleteWorkout($event)"
    ></app-workout-list-item>
    } @empty {
    <p>No workouts for today.</p>
    }
    <div class="workout-list-footer">
        <span class="button-container">
            <button mat-fab extended color="primary" (click)="onEditWorkout()">
                <mat-icon>add</mat-icon>
                Add workout
            </button>
        </span>
    </div>
</div>
