<div>
    <p>What's up homie!</p>
    <mat-form-field>
        <mat-label>Choose a workout date</mat-label>
        <input
            matInput
            [matDatepicker]="picker"
            [formControl]="selectedDateControl"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div>
    <button
        mat-raised-button
        color="primary"
        (click)="onNavigateToWorkoutDate()"
        [disabled]="!selectedDateControl.valid"
    >
        Go to workout
    </button>
</div>
