
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{ workout.name }}</mat-card-title>
                <mat-card-subtitle>{{
                    workout.description
                }}</mat-card-subtitle>
                <span>
                    <mat-card-subtitle class="tag-subtitle"
                        >
                        {{ tagNames | join: ', ' }}
                        <mat-icon
                            class="tag-icon"
                            fontIcon="sell"
                        ></mat-icon>
                        </mat-card-subtitle
                    >
                </span>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="workout-summary">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
                <ng-container matColumnDef="exerciseName">
                    <th mat-header-cell *matHeaderCellDef> Exercise </th>
                    <td mat-cell *matCellDef="let element"> {{ element.exerciseName }} </td>
                </ng-container>
                <ng-container matColumnDef="exerciseBlockSummary">
                    <th mat-header-cell *matHeaderCellDef> Summary </th>
                    <td mat-cell *matCellDef="let element"> {{ element.excerciseBlockSummary }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </mat-card-content>
        <div class="button-container">
            <button mat-mini-fab extended color="primary" (click)="onEditWorkout()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab extended color="warn" (click)="onDeleteWorkout()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card>
    <br>
