.generic-snack-bar-success {
    background: green;
    color: white;
    min-height: 40px;
    margin: 15px;
    font-size: 14px;
}

.generic-snack-bar-container {
    display: flex;
    justify-content: center;

    .generic-snack-bar-message-container {
        padding: 0 10px 0 0;
    }
}