<div class="edit-workout-container">
    <div class="workout-list-header">
        <button mat-fab extended color="secondary" (click)="onNavigateBack()">
            <mat-icon>arrow_left</mat-icon>
            Back
        </button>
        <div class="save-button-container">
            <button
                mat-fab
                extended
                color="primary"
                (click)="onSave()"
                [disabled]="!workoutDataForm.valid || $processing()"
            >
                Save
            </button>
        </div>
    </div>
    <mat-card class="mat-elevation-z8">
        <div class="workout-metadata-container">
            <div class="title-and-notes-container">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input
                        matInput
                        [formControl]="workoutDataForm.controls.name"
                    />
                    @if (workoutDataForm.controls.name.errors) {
                    <mat-error>Value is required</mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input
                        matInput
                        [formControl]="workoutDataForm.controls.description"
                    />
                </mat-form-field>
                <mat-form-field class="notes-form-field">
                    <mat-label>Notes</mat-label>
                    <textarea
                        matInput
                        rows="4.5"
                        style="resize: none"
                        [formControl]="workoutDataForm.controls.notes"
                    ></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
    <div class="exercise-block-list">
        @for (exerciseBlock of workout.exerciseBlocks; track $index) {
        <app-exercise-block
            [exerciseBlock]="exerciseBlock"
            (deleteBlock)="onDeleteBlock($event)"
        ></app-exercise-block>
        } @empty {
        <p>Add an exercise for this workout!</p>
        }
    </div>
    <div class="component-footer">
        <button mat-fab extended color="primary" (click)="onAddBlock()">
            + Add Block
        </button>
    </div>
</div>
