.edit-workout-container {

    .workout-list-header {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        .save-button-container {
            display: flex;
            align-items: center;

            .save-check-icon {
                color: lawngreen;
                margin-right: 5px
            }
        }
    }

    .workout-metadata-container {
        display: flex;
        flex-direction: row;

        .title-and-notes-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px;
        }

    }

    .exercise-block-list {
        margin: 10px 0px 0px 0px
    }

    .component-footer {
        margin: 10px 0;
        display: flex;
        flex-direction: row-reverse;
    }
}