<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3" [formGroup]="authFormGroup">
        <div>
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput [formControl]="emailFormControl" />
                @if (emailFormControl.touched && emailFormControl.invalid) {
                <mat-error>{{
                    emailFormControl.errors! | authError
                }}</mat-error>
                }
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    [formControl]="passwordFormControl"
                />
                @if (passwordFormControl.touched && passwordFormControl.invalid)
                {
                <mat-error>{{
                    passwordFormControl.errors! | authError
                }}</mat-error>
                }
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary" [disabled]="authFormGroup.invalid" (click)="onLogin()">
                Login
            </button>
            |
            <button mat-raised-button color="secondary" [disabled]="authFormGroup.invalid" (click)="onSignUp()">
                Sign up
            </button>
            <div class="alert alert-danger">
                <p>{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>
