<div>
    <mat-form-field>
        <div>
            <input
                #searchInput
                matInput
                (keyup.enter)="onTypeaheadSubmit()"
                [formControl]="displayFormCtl"
                [matAutocomplete]="auto"
                [placeholder]="placeholder"
            />
        </div>
        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onResultSelection($event)"
        >
            @for (result of searchResults; track result){
            <mat-option
                [disabled]="result.disabled"
                [value]="
                    resultValuePropertyPath
                        ? getProp(result.result, resultValuePropertyPath)
                        : result.result
                "
            >
                {{
                    resultDisplayPropertyPath
                        ? getProp(result.result, resultDisplayPropertyPath)
                        : result.result
                }}
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</div>
